---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | François Ngo" description="About François Ngo">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About" tagline="Découvrez mon parcours et mes compétences.">
        <img
          width="1553"
          height="873"
          src={`${import.meta.env.BASE_URL}/assets/image_dev.png`}
          alt="image about"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Après l'obtention de mon baccalauréat scientifique, j'ai choisi de
            poursuivre une licence en informatique. Pendant ces trois années,
            j'ai pu découvrir la richesse et la diversité du domaine. J'ai
            ensuite décidé de me spécialiser dans le développement logiciel en
            intégrant le master en informatique, parcours IDL (Ingénierie du
            Développement Logiciel). <br />
            Dans le cadre de ma dernière année du master, j'ai effectué un stage
            de fin d'études de six mois au sein de la RTM, une entreprise publique
            intervenant principalement dans les transports en commun de la ville
            de Marseille.
          </p>
          <p>
            Ce qui me caractérise le plus, c'est ma capacité d'adaptation à de
            nouveaux environnements ainsi que ma motivation à apprendre de
            nouvelles choses et de nouvelles technologies.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Diplômes</h2>
        <div class="content">
          <p>
            Bac+5 Ingénieur informatique parcours IDL (Ingénierie du
            Développement Logiciel), baccalauréat scientifique
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>Curieux, Autonome, Adaptabilité, Esprit d'équipe</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
